<section class="container centered">
    <div class="about">
        {{ with .Site.Params.avatarurl }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
        {{ end }}

        <h2>{{ .Site.Params.info }}</h2>

        <div class="introduction">
            
            <p>
                
            I'm a programmer from India, passionate about the craft of software design,
            clean and extensible design and programming languages. While my language of
            trade is C#, I'm also interested in Rust & Elixir these days, and have dabbled
                with Python in the past.
                
            </p>

            <p>
                
            When I'm not glued to <a href="https://www.gnu.org/software/emacs/">my
            preferred editor</a>, I'm usually spending time reading books or
            playing games from the last decades. If you want to get touch with me, shoot me an
                email at <span class="email">&lt;mail AT tushartyagi DOT com&gt;</span>

            </p>
            
        </div>
        {{ with .Site.Params.social }}
        <ul>
            {{ range sort .}}
            {{ if .icon }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}">
                    <i class="{{ .icon }}" aria-hidden="true"></i>
                </a>
            </li>
            {{ else }}
            <li>
                <a href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
        {{ end }}
    </div>
</section>
